body {
    background-image: url("../../Images/DD_Duel_Screen.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
   }

.pickCharacter {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    margin-top: 4%;
}   

.characters {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(220, 54, 54, 0.772);
    -webkit-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

.titlePlayer {
    color: white;
    font-size: 150%;
    padding-top: 5%;
    margin: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.character {
    width: 90%;
    margin: auto;
    height: auto;
    transition: all 0.2s ease-in-out;
}

.character:hover {
    transform: scale(1.1);
}

.character:active {
    transform: scale(0.9);
}

.goDuel {
    background-color: #3d2f40;
    color: white;
    width: 25vw;
    height: 5vh;
    margin-top: 2%;
    border-radius: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 130%;
    text-decoration: none;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 22px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 22px 0px rgba(255,255,255,1);
    box-shadow: 0px 0px 22px 0px rgba(255,255,255,1);
    transition: all 0.2s ease-in-out;
}

.goDuel:hover {
    transform: scale(1.1);
}

.goDuel:active {
    transform: scale(0.9);
}

.duel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerBox {
    padding: 15px;
    /* border-right: 3px solid rgba(17, 46, 92, 0.547); */
}

.duelPlayer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titlePlayerDuel {
    color: white;
    font-size: 200%;
    text-align: center;
    margin: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.propertiesDiv {
    display: flex;
    justify-content: center;
}

.propertiesNow {
    width: 35vw;
    height: auto;
    margin: auto;
    
}

.flexDuel {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: auto
}

.characterDiv {
    display: flex;
    justify-content: center;
}

.characterDuel {
    width: 90%;
    height: auto;
    margin-right: 0px;
}

.duelOptions{
    display: flex;
    flex-direction: column;
}

.duelButton {
    width: 85%;
    height: auto;
    transition: all 0.2s ease-in-out;
}

.duelButton:hover {
    transform: scale(1.1);
}

.duelButton:active {
    transform: scale(0.9);
}

.log {
    background-color: #000000bf;
    width: 40vw;
    height: 10vh;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 7%;
    border-radius: 10px;
}



 
